/* TopNavbar.module.css */
.navs {
  padding: 0.7rem;
  width: 100%;
  /* @apply w-screen; */
  @apply max-h-[71px];
  @apply min-h-[71px];
  @apply z-10;
  @apply md:px-3;
  @apply items-center;
  @apply justify-between;
  @apply flex-wrap;
  @apply bg-white border-b border-gray-200;
}

.nav_mobile,
.nav_lg {
  padding: 0;
  margin: 0;
}

.nav_menu {
  display: unset;
}
.nav_checkbox {
  display: flex;
  position: absolute;
  top: 0.75rem;
  opacity: 0;
  @apply z-20;
  @apply h-[44px];
  @apply w-[62px];
}

.nav_mobile_list {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
