.home_slider_item {
  background: no-repeat center center;
  background-image: none;
  background-size: auto;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url("https://template.hasthemes.com/kidol/kidol/assets/img/slider/3.jpg");
  @apply md:min-h-[620px] lg:min-h-[737px];
  @apply md:max-h-[620px] lg:max-h-[737px];
}

.slider_content_area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @apply md:min-h-[620px];
  @apply lg:min-h-[737px];
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bt {
  @apply bg-white;
  @apply hover:bg-blue-500;
  @apply text-blue-700;
  @apply font-semibold;
  @apply hover:text-white;
  @apply border;
  @apply border-blue-500;
  @apply hover:border-transparent;
  @apply rounded;
  @apply no-underline;
  @apply hover:no-underline;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  padding: 16px 48px;
}
