@tailwind base;
@tailwind components;
@tailwind utilities;

#navbarIconMenu .material-symbols-outlined {
  @apply text-3xl;
}
#navbarIconMenu > a {
  @apply flex min-h-[45px] max-h-[45px] min-w-[80px] max-w-[80px] justify-center items-center no-underline hover:text-teal-500  hover:no-underline;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

input.navbar-toggler:checked + #navbarNav {
  display: flex;
}
