@tailwind base;
@tailwind components;
@tailwind utilities;

#navbarIconMenu .material-symbols-outlined {
  @apply text-3xl;
  @apply grayscale;
}
#navbarIconMenu > a {
  @apply flex;
  @apply min-h-[45px];
  @apply max-h-[45px];
  @apply min-w-[80px];
  @apply max-w-[80px];
  @apply justify-center;
  @apply items-center;
  @apply no-underline;
  @apply hover:no-underline;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  overflow-y: scroll; /* Show scrollbars */
  overflow-x: hidden; /* Show scrollbars */
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

input.navbar-toggler:checked + #navbarNav {
  display: flex;
}
